::-webkit-scrollbar {
    display: none;
  }

#row_container{
    margin-top: 10%;
}

@media only screen and (max-width: 800px) {
    #row_container{
        margin-top: 1%;
    }
}

.rank{
    margin-top: 7%;
}

.card{
    height: 35rem;
    border-radius: 20px;
}

#card_1 {
    background-color: #0097b2;
    background-image: linear-gradient(90deg, #0097b2 0%, #7ed957 100%);
}

.card_1_sub_title{
    color: #00BF63;
    font-weight: bold;
    font-size: 1.5rem;
}

.card_1_title{
    color: #004F45;
    font-weight: bold;
    font-size: 3.5rem;
}

.card_1_text{
    color: #4C6B64;
    font-weight: 700;
    font-size: 1.2rem;
}

.card_1_buttons{
    margin-top: 40%;
}

@media only screen and (max-width: 990px) {
    .card_1_buttons{
        margin-top: 20%;
    }

    .button{
        margin-bottom: 2%;
    }
    
    .spacer{
        margin-top: 10%;
    }
}

#card_2 {
    background-color: #5de0e6;
    background-image: linear-gradient(90deg, #5de0e6 0%, #004aad 100%);
}

.card_2_sub_title{
    color: #5271FF;
    font-weight: bold;
    font-size: 1.5rem;
}

.card_2_title{
    color: #004AAD;
    font-weight: bold;
    font-size: 3.5rem;
}

.card_2_text{
    color: #E7F3F5;
    font-weight: 700;
    font-size: 1.2rem;
}

.card_2_rank_text{
    color: #004AAD;
    font-weight: 700;
    font-size: 1.7rem;
}

.rank_num{
    color: #0097B2;
    font-weight: bold;
    font-size: 5.0rem;
}

.center-vertical {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
}

