.footer-fixed footer {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.logo {
  max-width: 70px;
  max-height: 70px;
  padding: 2px;
}

@media only screen and (max-width: 800px) {
  .logo {
      max-width: 55px;
      max-height: 55px;
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.footer-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer ul.justify {
  text-align: center;
  display: table;
  overflow: hidden;
  margin: 0 auto;
}
footer ul.justify li {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

@media only screen and (max-width: 700px) {
  footer ul.justify li{
    width: 70px;
  }
}

